@page "/"
<div class="row col-4">
    <img src="@(string.IsNullOrWhiteSpace(memory.Image)?
"https://cdn.pixabay.com/photo/2022/01/28/11/30/brain-6974397_640.png":memory.Image)" />
</div>

<div class="row col-4 d-flex flex-row">
    <h1> Think of a memory you want stored</h1>
    
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" @bind-value="memory.MemoryName" id="Name" placeholder="Memory Name">
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" @bind-value="memory.Description" id="Description" placeholder="Memory Description">
    </div>

    <div class="form-group">
        <label for="Image">Date</label>
        <input type="text" class="form-control" @bind-value="memory.Date" id="Date" placeholder="Memory Date">
    </div>

    <div class="form-group">
        <label for="Price">Location</label>
        <input type="text" class="form-control" @bind-value="memory.Location" id="Location" placeholder="Memory Location">
    </div>

    <div class="form-group">
        <label for="Image">Image</label>
        <input type="text" class="form-control" @bind-value="memory.Image" id="Image" placeholder="Memory Image">
    </div>

    <button @onclick="addNewMemory" class="mt-4 btn btn-primary">Create Memory</button>
</div>

@if (memories.Count==0)
{
    <h1>No Memories Added Yet, Think G Think</h1>
}
else
{
    <div class="row">
        @foreach (var memory in memories)
        {

            <div class="card shadow col-4 p-4" style="width: 18rem;">
                <img src="@memory.Image" class="card-img-top" alt="@memory.MemoryName" />
                <div class="card-body">
                    <h5 class="card-title">@memory.MemoryName</h5>
                    <h7>@memory.Description</h7>
                    <div class="d-flex flex-column justify-content-between">
                        <span>
                            @memory.Date
                        </span>
                        <span>
                            @memory.Location
                        </span>
                        <div class="d-flex flex-row gap-2"> 
                            <button type="button" class="btn btn-danger m-2">Delete Memory</button>
                        
                            <button type="button" class="btn btn-success m-2">Edit Memory</button>
                        </div>
                        
                    </div>
                </div>
            </div>


        }
    </div>
}



@code{


    public Memory memory { get; set; } = new Memory();

    [Parameter]
    public EventCallback<Memory> OnAddMemory { get; set; }

    public async Task addNewMemory()
    {
        await OnAddMemory.InvokeAsync(memory);
    }





    public List<Memory> memories = new List<Memory>()
    {
        new Memory
        {
            MemoryName ="First time seeing the ocean",
            Description="A memory about the first time i ever got to see the ocean in person and realised that the water was bloody saline af",
            Location="Mombasa, Kenya",
            Date= "August 10, 2018",
            Image="https://cdn.pixabay.com/photo/2016/10/18/21/22/beach-1751455_640.jpg"

        },
        new Memory
        {
            MemoryName ="First Tech BootCamp",
            Description="A time i got to learn with and from talented devs ",
            Location="Nyeri, Kenya",
            Date= "November 14, 2023",
            Image="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg"
        }
    };
}
