@page "/Products"

<PageTitle>Products</PageTitle>

@if (newProducts.Count == 0)
{
    <h1>Sorry No Products Found</h1>
}
else
{


    @* <div class="d-flex justify-content-center align-items-center"> *@

    <div class="row d-flex flex-row gap-4  ">
        <h1 class="align-content-center">Top Deals</h1>
        <div class="d-flex align-items-center justify-content-center mb-5">

            <InputText style="width: 46rem;" @bind-Value="product.Name" class="form-control"></InputText>
        </div>
        @foreach (var product in newProducts)
        {
            <div class="card shadow col-4 p-4 " style="width: 18rem;">
                <img src="@product.Image" class="card-img-top" alt="@product.Name" />
                <div class="card-body d-flex flex-column justify-content-center">
                    <h2 class="card-title">@product.Name</h2>
                    <h7>@product.Description</h7>
                    <h4 class="mt-4 d-flex flex-row align-items-center justify-content-center">KSH - @product.UnitPrice</h4>
                  
                </div>
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <button type="button" class="btn btn-primary btn-outline-light btn-sm m-7">ADD TO CART</button>

                    
                </div>
            </div>

        }
    </div>
    @* </div> *@
}
@code {
    public Products product = new Products();

    public List<Products> newProducts = new List<Products>()
    {
        new Products
        {
            Name="HyperX Headphones",
            Description="The HyperX Cloud II was built to be an ultra-comfortable gaming headset with amazing sound.",
            UnitPrice=4500,
            Image ="https://imgs.search.brave.com/wuUlhFsBKis1cpZUO95MboFqwTcb87pfMh92bb6QYMU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFpK1Fic2hBRkwu/anBn"
        },
        new Products
        {
            Name="LG Monitor",
            Description="Work efficiently with the OptiPlex™ 3010 desktop, featuring essential performance, flexibility and connectivity to help your organization succeed.",
            UnitPrice=18500,
            Image ="https://imgs.search.brave.com/3Yg49VF9en8w_rBb7LYKGpcE8E6g1JaD1oSMFwQv9Us/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jMS5u/ZXdlZ2dpbWFnZXMu/Y29tL1Byb2R1Y3RJ/bWFnZS8yNC0wMjYt/MDk5LVYwMS5qcGc"
        },
        new Products
        {
            Name="Gaming Mouse",
            Description="This wired optical mouse is equipped with colorful breathing light effect, lets you enjoy the game's pleasure..",
            UnitPrice=500,
            Image ="https://imgs.search.brave.com/EKeABC_80JoHOD1xNBUskTCifeAnVU5HKXWo-JehscM/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NTFxWnR6WnJ6d0wu/anBn"
        },
         new Products
        {
            Name="HDMI Converter",
            Description="The HDMI male to VGA female converter supports resolutions up to 1920x1080@60Hz (1080p Full HD)",
            UnitPrice=560,
            Image ="https://imgs.search.brave.com/CU-AoQWuAyyzZApqr7ufVWmADcgzZxyEEzfZyRHKmm4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL0kv/NjFRcWJpejhTOUwu/anBn"
        },
         new Products
        {
            Name="Docking Station",
            Description="Work efficiently with the 13-in-1Anker Docking Station, featuring essential performance, flexibility and connectivity to help your organization succeed.",
            UnitPrice=10500,
            Image ="https://imgs.search.brave.com/h7s45iZoVAqene0P9ckcde7rF-zGajmMh27k3fYQryQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA0/OTMvOTgzNC85OTc0/L2ZpbGVzLzEyODBY/MTI4MF82LmpwZz92/PTE2ODA3MDczNTA"
        },
          new Products
        {
            Name="Docking Station",
            Description="Work efficiently with the 13-in-1Anker Docking Station, featuring essential performance, flexibility and connectivity to help your organization succeed.",
            UnitPrice=10500,
            Image ="https://imgs.search.brave.com/h7s45iZoVAqene0P9ckcde7rF-zGajmMh27k3fYQryQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA0/OTMvOTgzNC85OTc0/L2ZpbGVzLzEyODBY/MTI4MF82LmpwZz92/PTE2ODA3MDczNTA"
        },
          new Products
        {
            Name="Docking Station",
            Description="Work efficiently with the 13-in-1Anker Docking Station, featuring essential performance, flexibility and connectivity to help your organization succeed.",
            UnitPrice=10500,
            Image ="https://imgs.search.brave.com/h7s45iZoVAqene0P9ckcde7rF-zGajmMh27k3fYQryQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA0/OTMvOTgzNC85OTc0/L2ZpbGVzLzEyODBY/MTI4MF82LmpwZz92/PTE2ODA3MDczNTA"
        },
          new Products
        {
            Name="Docking Station",
            Description="Work efficiently with the 13-in-1Anker Docking Station, featuring essential performance, flexibility and connectivity to help your organization succeed.",
            UnitPrice=10500,
            Image ="https://imgs.search.brave.com/h7s45iZoVAqene0P9ckcde7rF-zGajmMh27k3fYQryQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA0/OTMvOTgzNC85OTc0/L2ZpbGVzLzEyODBY/MTI4MF82LmpwZz92/PTE2ODA3MDczNTA"
        },
          new Products
        {
            Name="Docking Station",
            Description="Work efficiently with the 13-in-1Anker Docking Station, featuring essential performance, flexibility and connectivity to help your organization succeed.",
            UnitPrice=10500,
            Image ="https://imgs.search.brave.com/h7s45iZoVAqene0P9ckcde7rF-zGajmMh27k3fYQryQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA0/OTMvOTgzNC85OTc0/L2ZpbGVzLzEyODBY/MTI4MF82LmpwZz92/PTE2ODA3MDczNTA"
        },

    };

}

